<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(extensionName: 'template', path: 'Icons/Frontend/Favicon/apple-touch-icon.png.png')}">
<link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(extensionName: 'template', path: 'Icons/Frontend/Favicon/favicon-32x32.png')}">
<link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(extensionName: 'template', path: 'Icons/Frontend/Favicon/favicon-16x16.png')}">
<link rel="manifest" href="{f:uri.resource(extensionName: 'template', path: 'Icons/Frontend/Favicon/site.webmanifest')}">
<link rel="mask-icon" href="{f:uri.resource(extensionName: 'template', path: 'Icons/Frontend/Favicon/safari-pinned-tab.svg')}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#0080B4">
<meta name="theme-color" content="#0080B4">

</html>
